bin/
**/.vscode/

# Web Server
**/node_modules/
*.log
*/config.js
**/build/
**/output.txt
*/convo*
*/testing*

# MakeFile Components
*.o
*/main
*/train

# Training Set
**/mozilla_training_set/

# Junk
**/junk/