bin/
**/.vscode/

# Web Server
**/node_modules/
*.log
*/config.js
**/build/

# MakeFile Components
*.o
*/main
*/train
*/chat
*/trial

# Training Set
**/mozilla_training_set/

# Junk
**/junk/

# LCDK
/lcdk/start.txt
/lcdk/input.txt
/lcdk/done.txt

# Computer
/computer/busy.txt
/computer/NN_values.txt
/computer/output/output.txt
/computer/output/convo*
/computer/transProb/**
/computer/words/**